[Unit]
Description=e-curatin
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/e-curtain/main.py

[Install]
WantedBy=multi-user.target
