[Unit]
Description=e-curatin
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/e-curtain/
ExecStart=/usr/bin/node index.js

[Install]
WantedBy=multi-user.target
